img,
video {
  max-width: 100%;
  height: auto;
}

::selection {
  color: #000;
  background: #fbd404;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
